<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="login_container">
        <div class="center">
            <form id="login_form" action="/loginresult" method="post">
                <div class="logi"> 
                    <h2>로그인 페이지</h2>
                </div>
                
                <div class="line">
                    <input class="text" id="userid" type="text" name="userid" placeholder="아이디">
                </div>
                <div class="line">
                    <input class="text pass" id="userpass" type="text" name="userpass" placeholder="비밀번호">
                </div>
                <div class="btnok">
                    <button class="btns qwe" id="loginBtn" type="submit">로그인</button>
                    <button class="btns canc" type="button">취소</button>
                    <button class="btns canc join32" type="button">회원가입</button>
                    
                    <h2><a href="/join">회원가입</a> 하시겠습니까?</h2>
                    
                </div>
                <!-- <div class="dont">
                    <p>로그인 하시겠습니까?<span><a class="blise" href="/join">회원가입</a>은 여기로</span>
                </div> -->
            </form>
        </div>
    </div>
    <script>
        // 조인 버튼 눌렀을 때 메인페이지로 이동 location.href= "/";
       

        const cancel = document.querySelector(".canc");
            cancel.addEventListener("click",function(){
            // 취소버튼 누루면 / 경로로 요청
            location.href = "/"; 
         });
         
         const join32 = document.querySelector(".join32");
            join32.addEventListener("click",function(){
            // 버튼 누루면 / 경로로 요청
            location.href = "/join"; 
         });
    </script> 
</body>
</html>