<div id="header2">
    <div class="samsung2">
         <div class="center2">
             <div class="logo">
                 <h2><a href="/">턴플<br>
                     스토어</a>
                 </h2>
             </div>
             <div class="menu">
                 <ul class="gnbb">
                    <li class="on"><a href="/appletroduce">APPLE</a></li>
                     <li><a href="/menu/apple">STORE</a></li>
                     <li><a href="/store">매장안내</a></li>
                     <li><a href="/event">EVENT</a></li>
                     <li><a href="/brdlist">공지</a></li>
                     <li><a href="/Inquire">문의</a></li>
                 </ul>
             </div>
             <div class="logia">
                <div class="center">
                   <div class="login">
                       <div class="condition">
                           <% if(!userData) { %> <!-- 회원정보 프로퍼티가 없을때 -->
                           <i class="fa-solid fa-right-to-bracket arr"></i>
                           <a class="loginuser loj" href="/login">로그인</a>
                           <i class="fa-solid fa-registered arr"></i>
                           <a class="logina loj" href="/join">회원가입</a>
                           <% } else { %>
                           <div class="name loj"><a href="<%- userData.joinid == "admin" ?  "/admin/prdlist" : "/mypage" %>"><%- userData.joinid %>님</a></div> 
                           <a class="loginb loj" href="/logout">로그아웃</a>
                           <% } %>
                       </div>     
                   </div> 
                </div>
           </div> 
             <div class="spanBtn">
                 <span class="line top"></span>
                 <span class="line mid"></span>
                 <span class="line bot"></span>
             </div>
             
         </div>
         <div class="sideM">
             <div class="linebtn">
                 <div class="btn2">
                     <span class="line top2"></span>
                     <span class="line mid2"></span>
                     <span class="line bot2"></span>
                 </div>
                 <div class="two">
                    <ul class="mater">
                        <li><span class="material-symbols-outlined">
                            arrow_right
                            </span><a href="/appletroduce">APPLE</a></li>
                        <li><span class="material-symbols-outlined">
                            arrow_right
                            </span><a href="/menu/apple">STORE</a></li>
                        <li><span class="material-symbols-outlined">
                            arrow_right
                            </span><a href="/store">매장안내</a></li>
                        <li><span class="material-symbols-outlined">
                            arrow_right
                            </span><a href="/event">이벤트</a></li>
                        <li><span class="material-symbols-outlined">
                            arrow_right
                            </span><a href="/brdlist">공지</a></li>
                        <li><span class="material-symbols-outlined">
                            arrow_right
                            </span><a href="/Inquire">문의</a></li>
                
                    </ul>
                 </div>
                 <div class="three">
                     <ul class="face">
                        <li><a href=#><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href=#><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href=#><i class="fa-brands fa-twitter"></i></a></li>
                     </ul>
                     <div class="footend">
                         <p>주식회사 턴애플인터내셔널 대표이사:최원석 주소 : 경기도 덕양구 화정동 245-7(센티널프라자)2층<br>
                            개인정보보호책임자 : 최원석 사업자등록번호:555-55-5555 통신판매2022-덕양구-5555 이메일 : turnapple123@naver.com
                         </p>
                     </div>
                 </div>
             </div>
         </div>
    </div>
 </div>